<div class="max-w-xs flex flex-col w-60 h-96 min-h-300 rounded-lg border-solid border-4 overflow-hidden shadow-lg divide-y">
  <div class="px-6 py-4 bg-[url('0x-bg.png')] min-h-[40%] bg-cover">
    <span>
      <%= image_tag 'live1.svg', class: "rounded-full shadow-lg h-auto align-left" %>
    </span>
  </div>
  <div class="min-h-max flex-auto">
    <div>
      <%= image_tag '0x-filler.jpg', class: "max-w-[50%] mx-auto -mt-12 rounded-full shadow-lg h-auto align-middle" %>
    </div>
    <div class="px-6 pt-4 pb-2 text-center">
      <p>Alyst</p>
    </div>
    <div class="px-6 pt-4 pb-2 text-center">
      <p>Tools</p>
    </div>
    <div class="px-6 pt-4 pb-2 text-center">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        <i class="fa-brands fa-discord"></i>
      </span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        <i class="fa-brands fa-twitter"></i>
      </span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        <i class="fa-brands fa-github"></i>
      </span>
    </div>
  </div>
</div>