<div class="client-box-out shown uk-first-column uk-scrollspy-inview uk-animation-fade" data-searchcategory="Tools" data-searchname="0x" style="">
					<div class="client-box">
						<div class="cover-box" data-src="https://portal.arbitrum.one/wp-content/uploads/2022/09/1500x500.png" data-srcset="https://portal.arbitrum.one/wp-content/uploads/2022/09/1500x500.png" uk-img="" style="background-image: url(&quot;https://portal.arbitrum.one/wp-content/uploads/2022/09/1500x500.png&quot;);">
															<span class="islive-notif"><img src="https://portal.arbitrum.one/wp-content/themes/arbitrumportal/images/live1.svg" class="uk-display-inline-block"></span>
														<!--<a href="https://www.0x.org/" class="outlink" target="_blank"><i class="fas fa-link" aria-hidden="true"></i></a>-->
						</div>
						<div class="text-box">
							<div class="client-pic circle">
								<a href="https://www.0x.org/" target="_blank">
									<img src="https://portal.arbitrum.one/wp-content/uploads/2022/09/sHGUQ_0F_400x400.jpg" class="uk-display-inline-block">
								</a>
							</div>
							<div class="floating-icon">								
								<div class="has-hover ondefault">
									<a href="https://www.0x.org/" target="_blank">
										<img src="https://portal.arbitrum.one/wp-content/themes/arbitrumportal/images/client_pic_icon.svg" class="uk-display-inline-block">
									</a>
								</div>
								<div class="has-hover onhover">
									<a href="https://www.0x.org/" target="_blank">
										<img src="https://portal.arbitrum.one/wp-content/themes/arbitrumportal/images/client_pic_icon_hover.svg" class="uk-display-inline-block">
									</a>
								</div>
							</div>
							<div class="text-box-in">
								<h4 class="saira-semibold uk-text-center client-name">0x</h4>
								<p class="saira-reg uk-text-center client-type">Tools</p>
								<div class="socials">
																			<a class="uk-display-inline-block discord f-color-313852" href="https://discord.com/invite/official0x" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a>
																												<a class="uk-display-inline-block twitter f-color-313852" href="https://twitter.com/0xProject" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
																												<a class="uk-display-inline-block github f-color-313852" href="https://github.com/0xProject" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
																	</div>
							</div>
						</div>
					</div>
				</div>