<div class="mx-auto md:w-2/3 w-full">
  <div>
    <h1 class="text-black text-7xl">Projects on Catalyst</h1>
    <p class="text-black text-xl">The Catalyst protocol is open to anyone, and project configurations can vary widely. There are risks associated with interacting with all projects on the protocol. 
    Projects built on the protocol are not endorsed or vetted by Alyst.
    Do your own research and understand the risks before committing your funds.</p>
  </div>

  <%= render "form", campaign: @campaign %>

  <%= link_to 'Back to campaigns', catalysts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>

